.form-group {
  margin: 5px 5px 5px 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-button-row {
  display: table-cell;
  width: 490px;
  text-align: center;
}

.box-form {
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #5a04e4;
  width: 100%;
}
